:root {
  --bg-color: #201f26;
  --accent-light: #c9c949;
  --accent-dark: #96ba4a;
  --accent-darker: #81a534;
  --text-color: #e6e3e0;
  --nav-color: #1d1c22;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
}

/*-------------------------------------------------------------------------------------*/

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  font-size: 2.4rem;
}
h2:after {
  content: '';
  border-bottom: 1.1rem solid var(--accent-dark);
  width: 9.5rem;
  display: block;
  position: relative;
  left: 1rem;
  top: -1rem;
  z-index: -1;
  opacity: 0.6;
}

h3 {
  margin-top: 1em;
  padding-left: 1rem;
}
h3:after {
  content: '';
  border-bottom: 1.5rem solid var(--accent-dark);
  width: 0.4rem;
  display: block;
  position: relative;
  left: -1rem;
  top: -1.7rem;
  z-index: -1;
}

.video-embed {
  text-align: center;
}

a {
  color: var(--accent-dark);
}

a:hover, a:active {
  color: var(--accent-darker);
}

/*------------------------------------- Overrides -------------------------------------*/

.navbar {
  background-color: var(--nav-color);
}

/*-------------------------------------- Buttons --------------------------------------*/

.btn-custom {
  border: none;
  border-radius: 0;
  background-color: var(--accent-light);
  color: #000;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.btn-custom:hover, .btn-custom:focus  {
  background-color: var(--accent-dark);
  color: #000;
}

.btn-custom:active {
  background-color: var(--accent-darker) !important;
}

/*--------------------------------------- Cards ---------------------------------------*/

.card-gallery {
  margin-top: 2.4rem;
}

.card {
  border: none;
  border-radius: 0.25rem;
}
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.card-title {
  font-size: 1.15rem;
}

.card-subtitle {
  font-size: 0.75rem;
  color: var(--accent-dark)
}

.card-text {
  font-size: 0.95rem;
}

.card-clickable {
  cursor: pointer;
}

/*---------------------------------- Container sizes ----------------------------------*/

.landing-container {
  height: 100vh;
  max-width: 50em;
}

.content-container {
  max-width: 60em;
  padding-top: 5em;
}

.navbar-container {
  max-width: 70em;
}

/*--------------------------------------- Modals --------------------------------------*/

.modal-title {
  color: var(--text-color);
  font-weight: normal;
}

.modal-header {
  background-color: var(--bg-color);
  border: none;
}

.modal-body, .modal-content {
  background-color: var(--bg-color);
}

.btn-close-sm {
  font-size: .9em;
}